*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Define uma base de 16px para fontes */
}

body {
  font-family: Arial, sans-serif; /* Define a fonte padrão para o site */
  line-height: 1.5; /* Espaçamento padrão para melhor legibilidade */
  background-color: #f5f5f5; /* Cor de fundo leve */
  color: #333; /* Cor padrão para o texto */
}
